.title-heading {
  font-weight: 750;
  /* font-size: 80px; */
  font-size: clamp(36px, 8vw, 80px);
  /* display: flex; */
  text-align: center;
  /* font-weight: bold; */
  letter-spacing: 5px;
  margin: 0;
  line-height: 1.2;
  word-break: break-word;
  padding-top: clamp(20px, 0vh, 60px);
  padding-bottom: clamp(105px, 17vh, 105px);
  /* text-transform: lowercase; */
}

.banner {
  background-color: #d5e7fd;
}

/**
 * 
 * sm: >= 640px
 * md: >= 768px
 * lg: >= 1024px
 * xl: >= 1280px
 * 
 */

@media (max-width: 1280px) {
  .title-heading {
    font-size: 70px;
  }
}

@media (max-width: 1024px) {
  .title-heading {
    font-size: 65px;
  }
}

@media (max-width: 768px) {
  .title-heading {
    font-size: 52px;
    letter-spacing: 3px;
    padding-top: 15px;
    padding-bottom: 70px;
  }
}

@media (max-width: 640px) {
  .title-heading {
    font-size: 46px;
    letter-spacing: 2px;
    padding-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .title-heading {
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

@media (max-width: 360px) {
  .title-heading {
    font-size: 36px;
    letter-spacing: 1px;
    padding-bottom: 45px;
  }
}

/* .title-heading {
  outline: 1px solid red;
} */
