@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(226.3235294117647, 44%, 79%, 1);
    --y-0: 80%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-0: 85%;
    --x-1: 60%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 24%;
    --c-1: hsla(212.72727272727275, 86%, 85%, 1);
    --y-2: 82%;
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 13%;
    --c-2: hsla(212.72727272727275, 86%, 85%, 1);
    --c-3: hsla(0, 0%, 100%, 1);
    --s-start-3: 13%;
    --s-end-3: 68%;
    --x-3: 24%;
    --y-3: 7%;
  }
  100% {
    --c-0: hsla(239.55882352941356, 31%, 89%, 1);
    --y-0: 94%;
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-0: 31%;
    --x-1: 2%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --y-1: 25%;
    --c-1: hsla(182.64705882352928, 59%, 97%, 1);
    --y-2: 20%;
    --s-start-2: 5%;
    --s-end-2: 52%;
    --x-2: 98%;
    --c-2: hsla(212.72727272727275, 59%, 77%, 1);
    --c-3: hsla(299.00000000000006, 0%, 100%, 1);
    --s-start-3: 13%;
    --s-end-3: 68%;
    --x-3: 95%;
    --y-3: 92%;
  }
}
@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(226.3235294117647, 44%, 79%, 1);
}
@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}
@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}
@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 55%;
}
@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 85%;
}
@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}
@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}
@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 72%;
}
@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}
@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212.72727272727275, 86%, 85%, 1);
}
@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 82%;
}
@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}
@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 52%;
}
@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}
@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212.72727272727275, 86%, 85%, 1);
}
@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(0, 0%, 100%, 1);
}
@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}
@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 68%;
}
@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24%;
}
@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 7%;
}
.your_css_selector_here {
  --c-0: hsla(226.3235294117647, 44%, 79%, 1);
  --y-0: 80%;
  --x-0: 85%;
  --x-1: 60%;
  --y-1: 24%;
  --c-1: hsla(212.72727272727275, 86%, 85%, 1);
  --y-2: 82%;
  --x-2: 13%;
  --c-2: hsla(212.72727272727275, 86%, 85%, 1);
  --c-3: hsla(0, 0%, 100%, 1);
  --x-3: 24%;
  --y-3: 7%;
  background-color: hsla(115, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
}
