body {
  font-family: "Rubik", Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scrollbar-gutter: stable; */
}
html {
  overflow-y: scroll; /* ensure scrollbar is part of layout flow */
}

.navbar-hidden {
  display: none !important;
}

.no-pointer {
  cursor: default !important;
}

.navbar-container {
  position: fixed;
  background-color: white; /* to hide the unfilled corner */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  filter: drop-shadow(0 1.5px 10px rgba(0, 0, 0, 0.09));
}

.navbar-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.navbar-logo-container {
  position: absolute;
  left: -8px;
  top: 62%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo-circle {
  height: 90px;
  width: 95px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.navbar-logo-image:hover {
  transform: rotate(360deg);
}

.navbar-brand {
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 75px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  gap: clamp(4px, 1.5vw, 15px);
  flex-wrap: nowrap;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links a {
  color: #353535;
  text-decoration: none;
  padding: 8px clamp(7px, 1vw, 10px);
  font-size: clamp(14px, 1.5vw, 16px);
  border-radius: 22px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.navbar-links a:hover {
  background-color: #f0f0f0;
}

.navbar-links .login-button a {
  padding: 7px clamp(12px, 1.2vw, 16px);
  height: 40px;
  border-radius: 22px;
  border-bottom: 6px solid #f1485e;
  background: #f27887;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-links .login-button a:hover {
  background: #ffc5cc;
  border-bottom: 6px solid rgb(245, 145, 158);
  color: #ee4f64;
}

/* * {
  outline: 1px solid red;
}
  */

.relax-navbar .navbar-brand,
.relax-navbar .navbar-logo-image {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 10px;
  }

  .navbar-links {
    gap: 1px;
  }

  .navbar-brand {
    margin-left: 70px;
    font-size: 20px;
  }

  .navbar-logo-container {
    left: -10px;
  }

  .navbar-logo-circle {
    height: 80px;
    width: 85px;
  }

  .navbar-logo-image {
    transition: none;
    height: 45px;
    width: 45px;
  }

  .navbar-logo-image:hover {
    transform: none;
  }
}

.back-button-image {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.back-button-image:hover {
  transform: scale(1.1);
}
