html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ==== PAGE LAYOUT ==== */
.aac-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.communication-top-content {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  width: 100%;
}

.banner.communication-banner {
  background: linear-gradient(to bottom, #b8d6fa, #d2e3f7, #ffffff);
  padding-bottom: 0;
}

.banner.communication-banner::before,
.banner.communication-banner::after {
  background-image: none;
}

.aac-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: 200px 200px;
  background-position: 0 -20px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Ccircle cx='20' cy='20' r='2' fill='%23F7A8AE' fill-opacity='0.3'/%3E%3Ccircle cx='60' cy='30' r='2.5' fill='%23FAE2A4' fill-opacity='0.3'/%3E%3Ccircle cx='40' cy='60' r='2' fill='%23BCE3B4' fill-opacity='0.3'/%3E%3Ccircle cx='70' cy='50' r='2' fill='%23B8D6FA' fill-opacity='0.3'/%3E%3Ccircle cx='30' cy='80' r='2.5' fill='%2391D3DA' fill-opacity='0.3'/%3E%3C/svg%3E");
  overflow: hidden;
  /* align-items: left; */
}

/* ==== SLOTS AREA ==== */
.slots-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.slots-controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: -20px 24px 20px 24px;
  padding: 0;
}

.slots {
  z-index: 10;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  font-weight: bold;
  padding: 20px 25px;
  margin-bottom: 15px;
  min-height: 190px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  scrollbar-color: #bbb #eee;
}

.slots::-webkit-scrollbar {
  height: 10px;
}

.slots::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 5px;
}

.slots::-webkit-scrollbar-track {
  background: #eee;
}

.slots:empty::before {
  content: "Нема избрани картички";
  color: #999;
  margin: auto;
}

.selected-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 26px;
  scroll-snap-align: center;
}

.card {
  flex: 0 0 auto;
  scroll-snap-align: center;
  width: 140px;
  height: 140px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background: white;
  object-fit: contain;
  cursor: pointer;
}

.card.active-card {
  border: 2px solid #8f96c0;
  box-shadow: 0 0 10px rgba(199, 199, 199, 0.7);
  transform: scale(1.05);
  transition: all 0.3s ease;
}
/* @keyframes blinkTransparency {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.card.active-card {
  animation: blinkTransparency 1.5s infinite;
} */


/* ==== ICON BUTTON ==== */
.icon-button {
  background-image: url("/comms-assets/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 9px;
}

.icon-button img {
  width: 45px;
  height: 45px;
  margin-left: 43px;
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slots-buttons-row {
  /* gap: 15px; */
  margin-bottom: 7px;
  margin-left: -39px;
  padding: 0;
}

@media (max-width: 750px) {
  .aac-container {
    padding-left: 0;
    padding-right: 0;
  }
  .slots-container {
    flex-direction: column;
    align-items: stretch;
  }

  .slots {
    margin-left: -87px !important;
    margin-right: 0 !important;
    width: 100vw !important;
    border-radius: 0;
    padding: 20px 10px;
  }

  .icon-button {
    /* margin-left: 100px; */
    width: 60px;
  }

  .icon-button img {
    margin: 0;
    margin-bottom: 7px;
    width: 43px;
    height: 43px;
    padding: 0;
  }

  .slots-buttons-row {
    order: -1;
    /* margin-right: 0 !important; */
    justify-content: center;
    display: flex;
    gap: 0px;
    margin: 0;
    padding: 0;
    width: 200px;
    flex-direction: row;
    margin-left: clamp(205px, 40vw, 600px);
    /* margin-bottom: 15px; */
    /* padding: 0 10px; */
  }

  .slots-controls {
    margin-top: -40px;
    margin-bottom: 20px;
  }

  /* .banner.communication-banner {
    padding: 8rem 2rem 0rem 2rem;
  } */

  .slots-buttons-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 0px 0;
    /* margin-left: -24px;
    margin-right: -24px; */
    margin-bottom: -10px;
  }

  .icon-button {
    flex: 1;
    background-image: url("/comms-assets/back_btn.png");
    /* font-size: 14px; */
  }
}

@media (max-width: 480px) {
  .scroll-button {
    font-size: 20px;
  }
}
